<h1>Login</h1>

<div class="d-flex justify-content-center align-items-center">
  <form action="/login" method="POST" style="width: 500px; height: auto; border: grey 1px solid; border-radius: 50px; padding: 40px 40px" class="d-flex flex-column justify-content-center">
 
    <div class="mb-3">
        <label class="form-label">Username</label>
        <input class="form-control" type="text" name="username" placeholder="ironhacker" />
    </div>
 
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input class="form-control" type="password" name="password" placeholder="********" />
    </div>
    
    {{#if error}}
    <p style="color: red">{{error}}</p>
    {{/if}}
 
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
</div>