<div class="container-lg my-5">
  <div class="text-center">
    <h2>Log In</h2>
  </div>

  <div class="row justify-content-center my-5">
    <div class="col-lg-6">
      <form action="/login" method="POST" style="" class="d-flex flex-column justify-content-center">
 
        <label class="form-label">Username</label>
        <div class="mb-4 input-group">
          <span class="input-group-text">
            <i class="bi bi-person-circle" style="color: black"></i>
          </span>
          <input class="form-control" type="text" name="username" placeholder="ironhacker" />
        </div>

        <label class="form-label">Password</label>
        <div class="mb-4 input-group">
          <span class="input-group-text">
            <i class="bi bi-eye-slash-fill"></i>
          </span>
          <input class="form-control" type="password" name="password" placeholder="********" />
        </div>
        
    
        {{#if error}}
        <p style="color: red">{{error}}</p>
        {{/if}}
 
        <button class="btn btn-dark" type="submit">Login</button>
      </form>
    </div>

  </div>
  
</div>