<div class="container-lg my-5">
  <div class="text-center">
    <h2>Sign Up</h2>
  </div>

  <div class="row justify-content-center my-5">
    <div class="col-lg-6">
      <form action="/signup" method="POST" style="" class="d-flex flex-column justify-content-center">
 
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input class="form-control" type="text" name="username" placeholder="ironhacker" />
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input class="form-control" type="email" name="email" placeholder="ironhacker@test.com" />
      </div>
 
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input class="form-control" type="password" name="password" placeholder="********" />
      </div>
    
        {{#if error}}
        <p style="color: red">{{error}}</p>
        {{/if}}
 
        <button class="btn btn-dark" type="submit">Create an account</button>
      </form>
    </div>
  </div>
</div>